# deps
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/
dist/
next-env.d.ts
.next-env.d.ts

# tests
coverage/
playwright-report/
test-results/
.playwright/

# storybook
storybook-static/

# vercel
.vercel

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*.local
.env

# misc
*.tsbuildinfo
.DS_Store
